* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-y: scroll;
  /* overflow: hidden; */
}
.nav-bar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: static;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav-bar a.active {
  font-weight: bold;
  border-bottom: 2px solid #f39c12;
}

.nav-bar span {
  margin-left: 8px;
}

.nav-bar svg {
  vertical-align: middle;
}

.home-container {
  background-image: url("./images/elephants-900x450.jpg");
  background-size: cover; /* Changed to cover for better responsiveness */
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#fff9f9;
}

.hz-container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto; /* Changed to auto for better scaling */
  object-fit: cover;
}

.home-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 45px auto;
  display: flex; /* Set to flex to align items side by side */
  flex-direction: row; /* Aligns items in a row */
  justify-content: space-around; /* Distributes space evenly */
  flex-wrap: nowrap; /* Prevents wrapping, keeps items in a single line */
  gap: 1rem;
  width: 80%;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.container a {
  display: inline-block;
}

.img-container,
.img-continers,
.img-containert {
  width: calc(33.33% - 70px); /* Adjust width for responsiveness */
  height: auto;
  object-fit: cover;
  margin: 35px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  position: relative; /* Changed to relative */
  margin-bottom: 0;
}

.footer h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  color: #fff;
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
  .home-container h1 {
    font-size: 3rem;
  }
  
  .home-container p {
    font-size: 1.2rem;
  }
  
  .container {
    flex-direction: column;
  }
  
  .container h2 {
    font-size: 1.5rem;
  }

  .img-container,
  .img-continers,
  .img-containert {
    width: 30%; /* Full width on smaller screens */
  }
}
